{% extends "base.html" %} {% block title %}About{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <figure>
    <style>
        /* centre the image */
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <img class="w3-card-4" src="..\static\images\about.jpg" alt = about style="width:50%">

    <!-- figure out a way to centre the caption -->
    <div class="caption">Hello my name is Aansh! I am a second year Software Engineering student at McMaster University. This is one of my fullstack side-projects I created to help students organize their stressful schedule</div>
    </figure>
</body> 



{% endblock %}